.best {
  width: var(--width-card);
  height: var(--height-card);
  padding: var(--spacing-3);

  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    rgba(0, 220, 167, 0.8) 100%
  );
}

.best__img {
  width: var(--width-cardimg);
  height: var(--height-cardimg);
  margin-left: -3rem;
}

.best__img img {
  width: 100%;
  height: 100%;
}

.best-content {
  height: 100%;
}

.best__title, .best__des {
  margin-top: var(--spacing-4);
  white-space: pre-line;
}

@media (max-width: 767px) {
  .best__des {
    font-size: var(--size-3) !important;
  }

  .best{
    width:100%;
  }
}
