.btn__cta {
  position: relative;
  border: 1px solid var(--color-black);
  /* width: 12rem; */
  border-radius: var(--border-radius);
  outline: none;
  color: white;
  cursor: pointer;
  z-index: 1;
  height: calc(var(--height-cta) / 1.5);
}
