.btn__cta {
  /* position: relative; */
  outline: none;
  cursor: pointer;
  z-index: 1;
  height: calc(var(--height-cta) / 1.1);
  padding: var(--spacing-4);
}

.btn__cta:hover {
  background-color: var(--color-secondary);
}
