.company {
  padding: var(--spacing-3);
  gap: var(--spacing-5);
  height: var(--height-testimony);
}

.company__content {
  gap: var(--spacing-4);
}

.company__img {
  width: var(--wh-testimonyimg);
  height: var(--wh-testimonyimg);
}

.company__img img {
  width: 80%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .company__img {
    display: none !important;
  }

  .company__desc {
    font-size: var(--size-3) !important;
  }
}
