input {
  outline: none;
  background-color: transparent;
  height: var(--height-cta);
  width: 100%;
  padding-left: var(--pl-ctainput);
}
.modal-body,
.modal-footer {
  margin-top: var(--spacing-3);
}
.modal-content {
  padding: var(--spacing-3);
}
textarea {
  margin-top: var(--spacing-3);
  outline: none;
  background-color: transparent;
  width: 100%;
  height: calc(var(--height-cta) * 3);
  padding-top: var(--pl-ctainput);
  padding-left: var(--pl-ctainput);
}
