---
import { getContent, getLang } from "@/contexts/PageContext";
import type { langType } from "@/types/languages";
import BtnCta from "./BtnCta.astro";
import bgHero from "/public/bg-hero.webp";

const CONTENT = getContent().hero;
const LANG = getLang() as langType;
---

<section
  id="home"
  class="relative min-h-dvh flex items-center justify-center text-white overflow-hidden"
>
  <!-- Background image -->
  <div class="absolute inset-0 z-0">
    <img
      src={bgHero.src}
      alt="Teraiz Software Consulting"
      class="w-full h-full object-cover"
    />

    <!-- Overlay -->
    <!-- <div class="absolute inset-0 bg-brand-primary/85"></div> -->

    <!-- Gradiente -->
    <div
      class="absolute inset-0
             bg-gradient-to-br
             from-brand-primary/30
             via-brand-primary/70
             to-brand-primary/100"
    >
    </div>
  </div>

  <!-- Content -->
  <div class="relative z-10 container mx-auto px-6">
    <div class="max-w-3xl mx-auto text-center">
      <!-- Title -->
      <h1
        class="font-display font-semibold leading-tight
         text-4xl sm:text-4xl md:text-5xl lg:text-6xl"
      >
        Consultoría técnica y software a medida para empresas

        <!-- <span class="block text-brand-secondary sm:inline">
          para empresas
        </span> -->
      </h1>

      <p class="mt-6 text-lg text-white/90 max-w-xl mx-auto">
        Diseñamos y construimos sistemas escalables listos para producción.
      </p>

      <!-- CTA -->
      <div class="mt-12">
        <BtnCta
          lang={LANG}
          textBtn="Solicitar consulta gratuita"
          sizeBtn="lg"
          classBtn="bg-brand-secondary hover:bg-brand-secondary/90 text-brand-primary px-10 py-4 text-lg font-semibold shadow-xl transition-all"
          visibleIcon={true}
        />
      </div>

      <!-- Trust -->
      <!-- <p class="mt-8 text-sm text-white/70">
        Análisis inicial gratuito · 20 minutos · Sin compromiso
      </p> -->
    </div>
  </div>
  <div
    class="absolute bottom-10 sm:bottom-12
         left-1/2 -translate-x-1/2
         w-[92%] sm:w-auto
         flex items-center justify-center gap-6
         text-sm sm:text-base
         uppercase tracking-wider
         text-white/70"
  >
    <span class="font-medium text-center">+8 proyectos · 2025</span>
    <span class="opacity-40">|</span>
    <span class="font-medium text-center">consultoría gratuita</span>
  </div>
</section>
