.question {
  border-bottom: 1px solid var(--color-graylight);
  padding: var(--spacing-4) 0;
}

.question__answer {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  transition: padding-top 0.3s ease;

  /* margin-top: var(--spacing-3); */
}

.question__answer.open {
  max-height: 500px; /* suficiente para el contenido */
  opacity: 1;
  padding-top: var(--spacing-3);
}

.question__answer.closed {
  max-height: 0;
  opacity: 0;
  /* margin-top: var(--spacing-3); */
}

.cursor-pointer {
  cursor: pointer;
}
