.enableMY {
  padding-top: var(--spacing-section);
  padding-bottom: var(--spacing-section);
}

.enableMY--noTop {
  padding-top: 0;
  padding-bottom: var(--spacing-section);
}

.enableMX {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
}

.section__content {
  max-width: 1400px;
}
