.top-container {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 10000;
  height: var(--height-top);
}

.top__cta {
  height: calc(var(--height-cta) - 10px);
  border-radius: 2.5rem;
  border: 2px solid var(--color-secondary);
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.top__cta:hover {
  background-color: var(--color-secondary);
  color: white !important;
  transform: translateY(-2px);
}

.top__cta:hover svg {
  color: white;
}
