.top-container {
  padding-left: var(--spacing-3);
  padding-right: var(--spacing-3);
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 10000;
  height: var(--height-top);
}

.top__cta {
  height: var(--height-cta) - 10px;
  border-radius: 2.5rem;
}
