.top-container {
  height: 8rem;
  z-index: 2000;
  position: sticky;
  top: 0;
  background: white;
  z-index: 10000;
  height: 8rem;
}

.top__sales {
  width: 25rem;
  font-size: 2rem;
}

.top__end {
  width: 25rem;
}
