.authority {
  flex-wrap: wrap;
  gap: var(--spacing-2);
}
.authority__socialproofs__proof {
  flex-wrap: wrap;
}
.authority__socialproofs__proof:not(:first-child) {
  margin-top: var(--spacing-2) !important;
}

.authority__socialproofs__proof p:nth-child(1) {
  margin-right: var(--spacing-3);
  min-width: 10rem !important;
}


@media (max-width: 1300px) {

  .authority > div{
    width: 100%;
    text-align: center;
  }
  
  .solutions__img{
    width: 100%;
  }

  .authority__socialproofs__proof{
    justify-content: center;
  }

  .solutions__content__cta{
    margin: 0 auto;
  }
}

