.authority {
  flex-wrap: wrap;
  gap: var(--spacing-2);
}
.authority__socialproofs__proof {
  flex-wrap: wrap;
}
.authority__socialproofs__proof:nth-child(2) {
  margin-top: var(--spacing-2) !important;
}
.authority__socialproofs__proof:nth-child(3) {
  margin-top: var(--spacing-2) !important;
}

.authority__socialproofs__proof p:nth-child(1) {
  margin-right: var(--spacing-3);
  min-width: 10rem !important;
}

/* @media (max-width: 768px) {
  .solutions > div:first-child {
    order: 2;
  }

  .solutions > div:nth-child(2) {
    order: 1;
  }
} */
