.compaines {
  display: flex;  
  gap: var(--spacing-3);
  margin-top: var(--spacing-2);
  
 }


.compaines__title {
  flex-shrink: 0;
}
 
.compaines__list {
  position: relative;
}

.compaines__list__prev {
  position: absolute;
  cursor: pointer;
  left: -15px;
  top: 100px;
  opacity: 50%;
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  font-size: 4rem;
}
.compaines__list__next {
  position: absolute;
  cursor: pointer;
  right: -15px;
  top: 100px;
  opacity: 50%;
  font-size: 4rem;
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.compaines__list__prev:hover,
.compaines__list__next:hover {
  opacity: 100%;
  transform: scale(1.05);
}


@media (max-width: 1000px) {
  .compaines {
    gap: 0;
    flex-direction: column;
  } 

  .compaines__list{
    margin-top: var(--spacing-2);
  }
}
