.compaines {
  margin-top: var(--spacing-2) !important;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  gap: var(--spacing-3);
  margin: 0 auto;
  justify-items: center;
  align-items: start;
}

.compaines__title {
  width: var(--width-card);
}

.compaines__list {
  width: var(--width-card);
  grid-column: span 2;
  position: relative;
}

.compaines__list__prev {
  position: absolute;
  cursor: pointer;
  left: -15px;
  top: 100px;
  opacity: 50%;
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
  font-size: 4rem;
}
.compaines__list__next {
  position: absolute;
  cursor: pointer;
  right: -15px;
  top: 100px;
  opacity: 50%;
  font-size: 4rem;
  transition: transform 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

.compaines__list__prev:hover,
.compaines__list__next:hover {
  opacity: 100%;
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .compaines {
    gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .compaines__title {
    text-align: center;
  }

  .compaines__list {
    width: 100%;
    margin-top: var(--spacing-2);
  }
}
