.hero-container {
  height: calc(100vh - 8rem);
}
.hero-container > div {
  position: relative;
}

.hero-container__title > h1 {
  font-size: 5rem; /* 50px */
}

.hero-container__subtitle > p {
  font-size: 2rem; /* 20px */
}

.hero-container__img img {
  width: 58rem; /* 580px */
  height: 40rem; /* 400px */
}

.hero-container__socialproof {
  width: 33rem;
  font-size: 1.4rem;
}

.socialproofs .list {
  width: 80rem;
}
