.services_list {
  padding-top: var(--spacing-2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  gap: var(--spacing-3);
  margin: 0 auto;

  justify-items: center;
  align-items: start;
}
@media (max-width: 767px) {
  .services_list {
    gap: var(--spacing-1);
  }
}
@media (max-width: 1255px) and (min-width: 768px) {
  .services_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
