.solutions {
  flex-wrap: wrap;
  gap: var(--spacing-2);
}
.solutions__content,
.solutions__img {
  flex: 1 1 calc(50% - var(--spacing-2) / 2);
  min-width: 360px;
}
.solutions__content__subtitle {
  margin-top: var(--spacing-3);
}

.solutions__content__off {
  margin-top: var(--spacing-3);
}

.solutions__content__off > div:not(:first-child) {
  margin-top: var(--spacing-5) !important;
}

.solutions__img img {
  width: 100%;
  height: 100%;
}
.solutions__content__cta {
  margin-top: var(--spacing-2) !important;
}
