.solutions {
  flex-wrap: wrap;
  gap: 2rem;
}
.solutions__content__subtitle {
  margin-top: var(--spacing-3);
}

.solutions__content__off {
  margin-top: var(--spacing-3);
}

.solutions__content__off > div:not(:first-child) {
  margin-top: var(--spacing-5) !important;
}

.solutions__img img {
  width: 100%;
  height: 100%;
}
.solutions__content__cta {
  margin-top: var(--spacing-2) !important;
}

@media (max-width: 1300px) {
  .solutions > div:first-child {
    order: 2;
  }

  .solutions > div:nth-child(2) {
    order: 1;
  }

  .solutions__content{
    width: 100%;
    text-align: center;
  }
  
  .solutions__img{
    width: 100%;
  }

  .solutions__content__off > div{
    justify-content: center;
  }

  .solutions__content__cta{
    margin: 0 auto;
  }
}
