@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


:root {
  font-family: 'Inter', sans-serif;
  --color-primary: #031E3D;
  --color-secondary: #00DCA7;
  --color-tertiary: #003366;
  --color-cuaternary: #F0F0F0;
  --color-blue-dark: #001932;
  --color-blue-semidark: #03254C;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
.text-primary {
  color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.text-secondary {
  color: var(--color-secondary) !important;
}

/* Crea los que no existen en Bootstrap */
.bg-tertiary {
  background-color: var(--color-tertiary) !important;
}
.text-tertiary {
  color: var(--color-tertiary) !important;
}

.bg-cuaternary {
  background-color: var(--color-cuaternary) !important;
}
.text-cuaternary {
  color: var(--color-cuaternary) !important;
}

.bg-bluedark {
  background-color: var(--color-blue-dark) !important;
}
.text-bluedark {
  color: var(--color-blue-dark) !important;
}

.bg-bluesemi {
  background-color: var(--color-blue-semidark) !important;
}
.text-bluesemi {
  color: var(--color-blue-semidark) !important;
}

.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}