@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem; /* 16px */
}
:root {
  font-family: "Inter", sans-serif;
  --color-primary: #031e3d;
  --color-secondary: #00dca7;
  --color-tertiary: #003366;
  --color-cuaternary: #f0f0f0;
  --color-blue-dark: #001932;
  --color-blue-semidark: #03254c;
  --color-gray1: #f5f8fa;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
.text-primary {
  color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.text-secondary {
  color: var(--color-secondary) !important;
}

/* Crea los que no existen en Bootstrap */
.bg-tertiary {
  background-color: var(--color-tertiary) !important;
}
.text-tertiary {
  color: var(--color-tertiary) !important;
}

.bg-cuaternary {
  background-color: var(--color-cuaternary) !important;
}
.text-cuaternary {
  color: var(--color-cuaternary) !important;
}

.bg-bluedark {
  background-color: var(--color-blue-dark) !important;
}
.text-bluedark {
  color: var(--color-blue-dark) !important;
}

.bg-bluesemi {
  background-color: var(--color-blue-semidark) !important;
}
.text-bluesemi {
  color: var(--color-blue-semidark) !important;
}

.bg-gray1 {
  background-color: var(--color-gray1) !important;
}
.text-gray1 {
  color: var(--color-gray1) !important;
}

.font-thin {
  font-weight: 100 !important;
}

.font-extralight {
  font-weight: 200 !important;
}

.font-light {
  font-weight: 300 !important;
}

.font-regular {
  font-weight: 400 !important;
}

.font-medium {
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.font-extrabold {
  font-weight: 800 !important;
}

.font-black {
  font-weight: 900 !important;
}
