@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --font-heading: "Mona-Sans", sans-serif;
  --font-body: "Inter", sans-serif;

  /*COLORS*/
  --color-primary: #031e3d;
  --color-secondary: #00dca7;
  --color-tertiary: #003366;
  --color-cuaternary: #f0f0f0;
  --color-blue-dark: #001932;
  --color-blue-semidark: #03254c;
  --color-gray1: #f5f8fa;
  --width-top-socials: 99px;

  /*TESTIMONY*/
  --wh-testimonyimg: 90px;
  --height-testimony: 275px;

  /*CARD*/
  --width-card: 100%;
  --height-card: 100%;
  --width-cardimg: 80px;
  --height-cardimg: 80px;

  /*LOGO*/
  --width-logo: 87.42px;
  --height-logo: 71.38px;

  /*TOP MENU*/
  --height-top: 90px;

  /*CTA*/
  --height-cta: 55px;
  --pl-ctainput: 15px;

  /*RADIUS*/
  --border-radius: 10px;

  /*SIZES*/
  --size-0: 48px;

  --size-1: 48px;
  --size-2: 24px;
  --size-3: 20px;
  --size-4: 18px;
  --size-5: 16px;

  /*OPACITY*/
  --opacity-0: 100%;
  --opacity-1: 90%;
  --opacity-2: 65%;
  --opacity-3: 60%;

  /*WEIGHT*/
  --weight-bold: 700;
  --weight-regular: 500; /* Medium */
  --weight-semibold: 600;

  /*SPACING*/
  --spacing-1: 96px;
  --spacing-2: 64px;
  --spacing-3: 24px;
  --spacing-4: 16px;
  --spacing-5: 12px;
  --spacing-6: 6px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

.modal {
  z-index: 20000 !important;
  position: fixed !important;
}
.modal-backdrop {
  z-index: 19990 !important;
}

body {
  font-size: 1.6rem; /* 16px */
  width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

body,
p,
span {
  font-family: var(--font-body);
}

.border-radius {
  border-radius: var(--border-radius) !important;
}
.bg-primary {
  background-color: var(--color-primary) !important;
}
.bg-secondary {
  background-color: var(--color-secondary) !important;
}
.bg-tertiary {
  background-color: var(--color-tertiary) !important;
}
.bg-cuaternary {
  background-color: var(--color-cuaternary) !important;
}
.bg-bluedark {
  background-color: var(--color-blue-dark) !important;
}
.bg-bluesemi {
  background-color: var(--color-blue-semidark) !important;
}
.bg-gray1 {
  background-color: var(--color-gray1) !important;
}
.text-primary {
  color: var(--color-primary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.text-tertiary {
  color: var(--color-tertiary) !important;
}

.text-cuaternary {
  color: var(--color-cuaternary) !important;
}

.text-bluedark {
  color: var(--color-blue-dark) !important;
}

.text-bluesemi {
  color: var(--color-blue-semidark) !important;
}

.text-gray1 {
  color: var(--color-gray1) !important;
}
.size-0 {
  font-size: var(--size-0) !important;
}
.size-1 {
  font-size: var(--size-1) !important;
}
.size-2 {
  font-size: var(--size-2) !important;
}
.size-3 {
  font-size: var(--size-3) !important;
}
.size-4 {
  font-size: var(--size-4);
}
.size-5 {
  font-size: var(--size-5) !important;
}

.opacity-0 {
  opacity: var(--opacity-0) !important;
}
.opacity-1 {
  opacity: var(--opacity-1) !important;
}
.opacity-2 {
  opacity: var(--opacity-2) !important;
}
.opacity-3 {
  opacity: var(--opacity-3) !important;
}

.weight-bold {
  font-weight: var(--weight-bold) !important;
}

.weight-regular {
  font-weight: var(--weight-regular) !important;
}
.weight-semibold {
  font-weight: var(--weight-semibold) !important;
}

@media (max-width: 767px) {
  /**/
  :root {
    --width-card: 288px;
    --height-card: 250px;
    --width-cardimg: 55px;
    --height-cardimg: 55px;

    --width-logo: 47.16px;
    --height-logo: 38.33px;
    --height-top: 55px;
    /*--height-cta: 44px;*/
    --pl-ctainput: 12px;

    --size-0: 40px;
    --size-1: 30px;
    --size-2: 20px;
    --size-3: 16px;
    --size-4: 14px;
    --size-5: 12px;

    --opacity-0: 100%;
    --opacity-1: 85%;
    --opacity-2: 65%;
    --opacity-3: 55%;

    --weight-bold: 700;
    --weight-regular: 400;
    --weight-semibold: 600;

    --spacing-1: 48px;
    --spacing-2: 32px;
    --spacing-3: 16px;
    --spacing-4: 12px;
    --spacing-5: 8px;
    --spacing-6: 4px;
  }
}
